// font
@font-face {
    font-family: "Noto Sans";
    src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap);
    /* 沒有指定萬國碼區間，預設涵蓋所有的範圍 */
}
@font-face {
    font-family: "Noto Sans";
    src: url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap);
    unicode-range: U+00-024F
}
body {
    font-family:"Noto Sans","Roboto", serif;
}




// header
nav {
    background: $color-primary;
    @include mobile {
        padding: 0;
    }
}


.nav {
    padding-left: 88px;
    padding-right: 56px;

    @include pad {
        padding-left: 39px;
        padding-right: 19px;
    }

    @include mobile {
        flex-direction: column;
        padding: 0;
    }
}


.logo {
    @include mobile {
        margin: 10px 0px;
        width: 48px;
        height: 29px;
    }
}


.menu {
    @include mobile{
        flex-wrap: wrap;
        width: 100%;
    }
}


.menu-item {
    @include mobile{
        width: 50%;
        border: 1px solid $color-white;
        box-sizing: border-box;
    }
}


.menu-item a {
    font-family: $font-family-tw;
    font-weight: $font-Regular;
    font-size: $h6-font-size;
    padding: 40px 32px;
    line-height: 28px;
    &:hover {
        background: $color-primary-dark;
    }

    @include pad{
        padding-left: 20px;
        padding-right: 20px;
    }

    @include mobile{
        padding: 8px 0;
    }
}



// footer
footer {
    background: $color-primary;
}


.footer-info {
    border-bottom: 1px solid $color-white;
    padding-top: 44px;
    margin-bottom: 24px;

    @include pad{
        padding-top: 40px;
    }
    @include mobile{
        padding-top: 24px;
    }
}


.footer-info-menu {
    font-size: $font-size-base;
    line-height: 22px;
    margin-bottom: 32px;
    @include pad {
        margin-bottom: 32px;
    }

    @include mobile{
        display: none;
    }
}


.footer-info-menu li {
    padding-right: 48px;

    @include pad {
        padding-right: 40px;
    }
}


.footer-info-menu a {
    padding-top: 4px;
    padding-bottom: 4px;
    &:hover {
        background-color: $color-primary-dark;
    }
}


.footer-info-contact {
    color:$color-white;
    margin-bottom: 20px;
    @include pad{
        margin-bottom: 24px;
    }
}


.footer-info-contact-phone {
    font-size: $font-size-base*2;
    line-height: 48px;
    margin-bottom: 19px;

    @include pad {
        margin-bottom: 8px;
        font-size: $h6-font-size;
        line-height: 26px;
    }

    @include mobile {
        font-size: $font-size-base;
        line-height: 20px;
        margin-bottom: 8px;
    }
}


.footer-info-contact-phone img {
    width: 44px;
    height: 44px;
    padding-right: 17px;

    @include pad{
        width: 24px;
        height: 24px;
        padding-right: 8px;
    }

    @include mobile {
        width: 20px;
        height: 20px;
    }
}


.footer-info-contact-mail img {
    width: 48px;
    height: 48px;
    padding-right: 17px;

    @include pad {
        width: 24px;
        height: 24px;
        padding-right: 8px;
    }

    @include mobile {
        width: 20px;
        height: 20px;
    }
}

.footer-info-contact-mail a {
    display: inline-block;
    font-size: $font-size-base*2;
    line-height: 48px;

    @include pad {
        font-size: $h6-font-size;
        line-height: 26px;
    }

    @include mobile {
        font-size: $font-size-base;
        line-height: 21px;
    }
}

.footer-info-social {
    padding-left: 0;
}
.footer-info-social li {
    padding-left: 32px;

    @include pad {
        padding-left: 24px;
    }
}

.footer-info-social img {
    width: 48px;
    height: 48px;
    
    @include pad{
        width: 24px;
        height: 24px;
    }
}

.footer-copyright {
    padding-bottom: 28px;
    @include mobile {
        flex-direction: row-reverse;
        align-items: flex-end;
        padding-bottom: 25px;
    }
}

.footer-logo {
    width: 10%;

    @include pad {
        display: none;
    }

    @include mobile {
        display: block;
        width: 46px;
    }
}

.footer-list {
    width: 90%;

    @include pad{
        width: 100%;
    }

    @include mobile{
        flex-direction: column;
    }
}


.footer-list-text {
    font-size: $font-size-base;
    line-height: 24px;
    color: $color-white;

    @include mobile{
        font-size: $font-size-s;
        line-height: 19px;
        margin-bottom: 8px;
    }
}


.footer-list-link {
    font-size: $font-size-s;
    line-height: 20px;

    @include mobile {
        flex-direction: column;
    }
}


.footer-list-link li {
    margin-left: 62px;

    @include pad {
        margin-left: 24px;
    }

    @include mobile {
        margin-left: 0;
        margin-bottom: 8px;
    }
}

.footer-list-link a {
    padding-top: 4px;
    padding-bottom: 4px;
    &:hover {
        background-color: $color-primary-dark;
    }

    @include mobile {
        &:hover {
            display: inline-block;
        }
    }
}
